numpy 
theseus-ai
tqdm 
configargparse
h5py
pyglet 
scikit-learn
trimesh 
matplotlib
tensorboard 
natsort
pytorch3d @ git+https://github.com/facebookresearch/pytorch3d.git
mesh_to_sdf @ git+https://github.com/TheCamusean/mesh_to_sdf.git